@import '../../styles/VariableStyle.scss';

.logo-main {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &-logo {
    height: clamp(32px, 6vmin, 48px);
    width: auto;
  }
}